[Unit]
Description=bnbcli
After=network.target

[Service]
Type=simple
User=root
Group=root
ExecStart=/server/bnbchaind/fullnode/bnbcli.sh -start
ExecReload=/server/bnbchaind/fullnode/bnbcli.sh -restart
ExecStop=/server/bnbchaind/fullnode/bnbcli.sh -stop
PrivateTmp=true
Restart=always
RestartSec=5
StartLimitInterval=0

[Install]
WantedBy=multi-user.target